[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "neovim/ftplugin/haskell-vim"]
	path = neovim/ftplugin/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "neovim/ftplugin/julia-vim"]
	path = neovim/ftplugin/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule "neovim/plugin/lightline.vim"]
	path = neovim/plugin/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "neovim/colorscheme/onedark.vim"]
	path = neovim/colorscheme/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "neovim/plugin/vim-fugitive"]
	path = neovim/plugin/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "neovim/plugin/vim-commentary"]
	path = neovim/plugin/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "neovim/plugin/vim-vinegar"]
	path = neovim/plugin/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "neovim/plugin/vim-surround"]
	path = neovim/plugin/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "neovim/plugin/vim-css-color"]
	path = neovim/plugin/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "neovim/plugin/vim-easy-align"]
	path = neovim/plugin/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "neovim/plugin/fzf.vim"]
	path = neovim/plugin/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "neovim/plugin/fzf"]
	path = neovim/plugin/fzf
	url = https://github.com/junegunn/fzf
[submodule "neovim/ftplugin/vimtex"]
	path = neovim/ftplugin/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "neovim/ftplugin/rust.vim"]
	path = neovim/ftplugin/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "neovim/ftplugin/vim-go"]
	path = neovim/ftplugin/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "neovim/colorscheme/nord-vim"]
	path = neovim/colorscheme/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "neovim/plugin/vim-repeat"]
	path = neovim/plugin/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "neovim/plugin/nvim-lspconfig"]
	path = neovim/plugin/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "neovim/plugin/completion-nvim"]
	path = neovim/plugin/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "neovim/colorscheme/gruvbox"]
	path = neovim/colorscheme/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "neovim/plugin/nvim-treesitter"]
	path = neovim/plugin/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
