[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "neovim/pack/plugin/start/goyo.vim"]
	path = neovim/pack/plugin/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "neovim/pack/plugin/start/lightline.vim"]
	path = neovim/pack/plugin/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "neovim/pack/plugin/start/vim-commentary"]
	path = neovim/pack/plugin/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "neovim/pack/plugin/start/vim-css-color"]
	path = neovim/pack/plugin/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "neovim/pack/plugin/start/vim-easy-align"]
	path = neovim/pack/plugin/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "neovim/pack/plugin/start/vim-fugitive"]
	path = neovim/pack/plugin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "neovim/pack/plugin/start/vim-surround"]
	path = neovim/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "neovim/pack/plugin/start/vim-vinegar"]
	path = neovim/pack/plugin/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "neovim/pack/plugin/start/haskell-vim"]
	path = neovim/pack/ftplugin/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "neovim/pack/plugin/start/julia-vim"]
	path = neovim/pack/ftplugin/start/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "neovim/pack/colorscheme/opt/onedark.vim"]
	path = neovim/pack/colorscheme/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "neovim/vim-plug"]
	path = neovim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "neovim/plugged/goyo.vim"]
	path = neovim/plugged/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "neovim/plugged/haskell-vim"]
	path = neovim/plugged/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "neovim/plugged/julia-vim"]
	path = neovim/plugged/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule "neovim/plugged/lightline.vim"]
	path = neovim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "neovim/plugged/onedark.vim"]
	path = neovim/plugged/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "neovim/plugged/vim-fugitive"]
	path = neovim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "neovim/plugged/vim-commentary"]
	path = neovim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "neovim/plugged/vim-vinegar"]
	path = neovim/plugged/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "neovim/plugged/vim-surround"]
	path = neovim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "neovim/plugged/vim-css-color"]
	path = neovim/plugged/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "neovim/plugged/vim-easy-align"]
	path = neovim/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
