/*        __       __
 *   ___ / /___ __/ /__ ___
 *  (_-</ __/ // / / -_|_-<
 * /___/\__/\_, /_/\__/___/.css
 *         /___/
 *
 * Repository: https://github.com/QUICKguils/dotfiles
 */

body{
	margin: auto;
	max-width: 40em;
	font-family: "Noto Sans";
	font-style: normal;
	font-size: 17px;
	line-height: 1.5;
	background-color: #282C34;
	color: #abb2bf;
}

h1{
	color: #98C379;
	font-family: "Noto Sans";
	text-align: center;
	font-size:34px;
}

h2{
	color: #C162DE;
	font-family: "Noto Sans";
	font-size: 26px;
}

h3{
	color: #4AA5F0;
	font-family: "Noto Sans";
	font-weight: bold;
	font-size: 20px;
}

h4{
	color: #4AA5F0;
	font-family: "Noto Sans";
	font-weight: normal;
	font-size: 18px;
}

h5{
	color: #616e88;
	font-family: "Noto Sans";
	font-weight: normal;
	font-size: 16px;
}

h6{
	color: #4c566a;
	font-family: "Noto Sans";
	font-weight: normal;
	font-size: 16px;
}

code{
	font-family: "Hack";
	font-size: 15px;
	font-weight: normal;
}

a:link,a:visited{
	text-decoration: none;
	color: #42B3C2;
}

img{
	max-width: 30em;
}

blockquote{
	max-width: 40em;
	border-left: 3px solid #E05561;
	background-color: #3b4252;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-left: auto;
	margin-right: auto;
}

table{
	max-width:40em;
	margin: auto;
	border-collapse: collapse;
}
td, th{padding: 5px}
tr:nth-child(even){background-color:#3b4252}
tr:hover{background-color:#3F4451}
td{font-size: 16px}
th{
	border-bottom: 3px solid #D18F52;
	font-family: "Noto Sans";
	background-color: #2e3440;
}

hr{border: 1px solid #5c6370}
