body{
	margin: auto;
	max-width: 40em;
	font-family: "Noto Serif";
	font-style: normal;
	font-size: 16px;
	line-height: 1.65;
	background-color: #2e3440;
	color: #d8dee9;
}

h1{
	color: #eceff4;
	text-align: center;
	font-size:34px;
}

h2{
	color: #8fbcbb;
	font-family: "Noto Sans";
	font-size: 26px;
}

h3{
	color: #81a1c1;
	font-family: "Noto Sans";
	font-weight: bold;
	font-size: 20px;
}

h4{
	color: #5e81ac;
	font-family: "Noto Sans";
	font-weight: normal;
	font-size: 18px;
}

h5{
	color: #616e88;
	font-family: "Noto Sans";
	font-weight: normal;
	font-size: 16px;
}

h6{
	color: #4c566a;
	font-family: "Noto Sans";
	font-weight: normal;
	font-size: 16px;
}

code{
	font-family: "Hack";
	font-size: 14px;
	font-weight: normal;
}

a:link,a:visited{
	text-decoration: none;
	color: #88c0d0;
}

img{
	max-width: 30em;
}

blockquote{
	max-width: 40em;
	border-left: 3px solid #b48ead;
	background-color: #3b4252;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-left: auto;
	margin-right: auto;
}

table{
	max-width:40em;
	margin: auto;
	border-collapse: collapse;
}
td, th{padding: 5px}
tr:nth-child(even){background-color:#3b4252}
tr:hover{background-color:#434c5e}
td{font-size: 16px}
th{
	border-bottom: 3px solid #ebcb8b;
	font-family: "Noto Sans";
	background-color: #2e3440;
}

hr{border: 1px solid #5c6370}
